@import '../../../styles/variables';

.input-background {
  background: $light-grayish-cyan;
  border-radius: .3rem;
  display: flex;
  align-items: center;
  margin-top: .5rem;
}

img {
  padding-inline: .4rem;
}

input {
  border: none;
  outline: none;
  border-radius: .3rem;
  padding: .4rem;
  background: $light-grayish-cyan;
  width: 100%;
  text-align: right;
  color: $very-dark-cyan;
  font-size: 21px;
  caret-color: $very-dark-cyan;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}