@if (numberAmount()) {
  <button
    [style.background]="bg()"
    [style.color]="textColor()"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    (click)="onSelect(numberAmount()!)">
    {{ numberAmount() }}
    <span [style.color]="textColor()">{{ icon() }}</span>
  </button>
}
@if (customAmount()) {
  <button
    [style.background]="bg()"
    [style.color]="textColor()"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    (click)="onSelect(customAmount()!)">
    {{ customAmount() }}
  </button>
}
